<?xml version="1.0"?>
<launch>
    <!-- laod tf -->
	<include file="$(find drone_bringup)/launch/fixed_joints.launch"/>

	<!-- run Safemode server -->
	<node pkg="drone_bringup" name="drone_safery" type="drone_safe_node.py" respawn="true" output="screen">
		<param name="max_angle" value="$(env DRONE_SAFE_MAX_ANGLE)"/>
		<param name="disarm_delay" value="$(env DRONE_SAFE_DISARM_DELAY)"/>
	</node>

	<!-- run PX4 mavros run -->
	<include file="$(find mavros_link)/launch/px4_slam.launch">
		<arg name="tgt_system" default="1"/>
		<arg name="tgt_component" default="1" />
		<arg name="gcs_ip" default="$(env MAVROS_GCS_IP)"/>
		<arg name="fcu_url" default="$(env MAVROS_FCU_URL)" />
		<arg name="fcu_port" default="$(env MAVROS_FCU_PORT)" />
	</include>
    
	<!-- goal to reg -->
	<node pkg="drone_bringup" name="drone_reg" type="goal_to_reg.py" respawn="true" output="screen"/>
	<!-- interactive goal -->    
	<node pkg="interactive_goal" name="interactive_posestamped_node" type="interactive_posestamped_node" respawn="true"/>
	
	<!-- Gripper run -->
	<node pkg="gripper_ros" name="gripper_ros_node" type="arduino_gripper_ros.py" respawn="true" output="screen">
		<param name="port" value="$(env GRIPPER_PORT)"/>
	</node>

	<!-- Run camera -->
	  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
	    <param name="video_device" value="/dev/video0" />
	    <param name="image_width" value="640" />
	    <param name="image_height" value="480" />
	    <param name="pixel_format" value="yuyv" />
	    <param name="camera_frame_id" value="usb_cam" />
	    <param name="io_method" value="mmap"/>
	  </node>

<!--	  
	<node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
	    <remap from="image" to="/usb_cam/image_raw"/>
	    <param name="autosize" value="true" />
	  </node>
-->

</launch>
